MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_BUCKET_NAME=nyc-taxi-raw
MINIO_ENDPOINT=minio:9000
MINIO_CONSOLE=http://localhost:9001
MINIO_SECURE=false
MINIO_RAW_PREFIX=nyc_taxi/raw
_PIP_ADDITIONAL_REQUIREMENTS=minio==7.2.16
MAX_FILES_TO_UPLOAD=1
MINIO_UPLOAD_PART_SIZE_MB=5